body {
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* body 1 and header */
.body1,
.header {
    background-color: #1F2937;
    color:white;
    
    padding-left: 80px;
}
.header {
    display: flex;
    flex-flow: row wrap;
    font-size: 22px;
    
    padding-right: 80px;
}
.top-links {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    font-size: 16px;
}
.body1 {
    display: flex;
    justify-content: center;
    padding: 100px;
    flex: 1;
}
.text-n-button {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-right: 40px;
    align-items: flex-start;
    flex: 1;
}
.body1-main-text {
    font-size: 48px;
    padding-bottom: 0px;
    width: 400px;
    height: 150px;
    font-weight: 1000;
    display: flex;
}
.body1-sub-text {
    color: #E5E7EB;
    display: flex;
    margin-top:10px;
    
}
button {
    width: 100px;
    height: 50px;
    font-weight: 900;
    font-size: 18px;
    background-color: #3882F6;
    color: white;
    padding: 0px;
    border:0px;
    border-radius: 15px;
}
.imaj {
    display: flex;
    background-color: gray;
    padding: 100px;
    width: 800px;
    justify-content: center;
    align-items: center;
    flex: 0 0 400px;
}
a {
    color:white;
    text-decoration: none;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

/* body 2 */
body2 {
    
    padding-top: 40px;
    display: flex;
    flex-flow: row wrap;
    height: 400px;
    
}
h1 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.images-texts {
    display:flex;
    flex-flow:row;
    justify-content: center;
    
    padding-left: 350px;
    padding-right: 350px;
    

}
.body2 .image{
    display: flex;
    justify-content: center;
    border: 2px solid blue;
    border-radius: 15px;
    height: 150px;
    width: 150px;
    background: transparent;
    margin-right: 40px;
}
.body2 .text{
    padding: 8px;
    padding-top: 0px;
    padding-left: 26px;
    width: 100px;
    height: 100px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
